
.fade-in {
    opacity: 0;                /* Start hidden */
    transition: opacity 1s ease-in; /* Transition for 0.5 seconds */
  }
  
  .fade-in-visible {
    opacity: 1;                /* Fade in to fully visible */
    transition: opacity 1s ease-in;
  }


  .homewrapper {
    width: 90%;
    background: rgba(140, 0, 255, .85);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .container {
    display: flex;
    flex-direction: row; /* or column */
    justify-content: center;
    width: 100%;
  }
  
  .cal {
    display: block;
    flex-direction: column; /* so the calendar can stack below any other elements if needed */
    align-items: center;    /* center it if you want */
    width: 100%;           /* important: let it fill the container */
    padding: 10px;
    overflow-x: auto;
    font-size: 1rem;
  }

  .fc .fc-toolbar .fc-button {
    font-size: 1rem; /* e.g., 16px */
    
  }
  
  .fc .fc-toolbar-title {
    font-size: 1.25rem; /* e.g., 20px */
  }

  @media (max-width: 600px) {
    .fc .fc-toolbar .fc-button {
      font-size: 0.9rem; 
    }
    
    .fc .fc-toolbar-title {
      font-size: 1rem; 
    }
  }
  
  /* Even smaller screens */
  @media (max-width: 400px) {
    .fc .fc-toolbar .fc-button {
      font-size: 0.8rem; 
      
    }
    
    .fc .fc-toolbar-title {
      font-size: 1.2rem;
    }
  }